@import './normalize';
@import './utils';

* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

img {
  width: 100%;
}

button{
  background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer
}

#root {
  @extend .center;
  position: relative;
}

.visibility-none {
  visibility: hidden;
}

.h100 {
  height: 100vh;
}

.wrapper {
  // max-width: 640px;
  margin: 0 auto;
}

.container {
  @extend .center;
  visibility: none;
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  // min-height: 100vh;

  &.fade-enter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.container > .inner, .result-page {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // width: 100%;
  // height: 100%;
}

.intro {
  .name-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -15px;
    img {
      position: relative;
    }
    input {
      z-index: 2;
      position: absolute;
      width: 90%;
      outline: none;
      border: none;
      text-align: center;
      &::placeholder {
        font-size: 90%;
      }
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}

.fade-enter {
  opacity: 0;
  transform: translate(0, 100px);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-page {
  padding-top: 3em;
  padding-bottom: 3em;
}

.result-page > .top {
  div:nth-of-type(1) {
    margin-bottom: 1.6em;
    img {
      width: 39%;
    }
  }
  div:nth-of-type(2) {
    margin-bottom: 1.5em;
    img {
      width: 70%;
    }
    span {
      font-size: 2.8em;
      padding-right: 0.2em;
      font-weight: 900;
    }
  }
  div:nth-of-type(3) {

  }
}

$lite:  black;
$size: 48px;

@keyframes rotation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.indicator-wrapper {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indicator {
  width : $size;
  height: $size;
  border: 5px dotted $lite;
  border-radius: 50%;
  animation: rotation 2s linear infinite;
}
